.advanatges__wrapper {
  .container();

  min-height: 320px;
  padding-top: 30px;
}

.advantages__items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;
  min-height: 145px;
  margin-bottom: 23px;
  padding: 0 44px;
  padding-top: 125px;

  text-align: center;

  &::before {
    content: "";
    position: absolute;

    width: 95px;

    top: 0;
    left: 50%;
    margin-left: -47px;
  }
}

.advantages__item:nth-child(n+2) {
  display: none;
}

.advantages__item--fast::before {
  height: 94px;

  background: url("../img/advantage-fast.png") no-repeat;
}

.advantages__item--cool::before {
  height: 88px;

  background: url("../img/advantage-cool.png") no-repeat;
}

.advantages__item--pricy::before {
  height: 94px;

  background: url("../img/advantage-pricy.png") no-repeat;
}

@media @tablet-widths {

  .advanatges__wrapper {
    padding-top: 42px;
  }

  .advantages__items {
    padding-bottom: 4px;
  }

  .advantages__item {
    min-height: 95px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    padding-bottom: 39px;
    padding-left: 128px;

    text-align: left;

    &::before {
      left: 50px;
    }
  }

  .advantages__item:nth-child(n+2) {
    display: block;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }

  .slider__input {
    display: none;
  }

}


@media @desktop-widths {

  .advanatges__wrapper {
    min-height: 275px;
    padding-top: 75px;
    padding-bottom: 59px;
  }

  .advantages__items {
    display: table;
    width: 100%;
    height: 275px;
  }

  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0;
    padding-top: 130px;
    padding-left: 55px;
    padding-right: 55px;

    text-align: center;

    &::before {
      left: 50%;
    }
  }

  .advantages__item:nth-child(n+2) {
    display: table-cell;
  }
}
